<%- include ('partials/header') %>
    
    <div class="jumbotron text-center">
        <h1 class="display-4">TruSponse Engage</h1>
        <p class="lead">Reputation management simplified</p>
        <hr class="my-4">
        <p>Premium Plan</p>
        <a class="btn btn-primary" href="#">Start Here</a>
      </div>
      
  </body>
</html>


